<!DOCTYPE html>
<html>
<head>
	<title>Demo  phan so</title>
    <style>
    	.input {
        	width: 30px;
      }
    </style>
</head>
<body>

<h2>Thực hiện phép tính phân số:</h2>

<form action="">
  Phân số 1:<br/>
  <input class="input" type="text" name="tuso1">
  /
  <input class="input" type="text" name="mauso1">
  <br/>
  Phân số 2:<br/>
  <input class="input" type="text" name="tuso2">
  /
  <input class="input" type="text" name="mauso2">
  <br/>
  <b>Chọn phép tính cần thực hiện:</b><br/>
  <input type="submit" name="btnCong" value="cộng">
  <input type="submit" name="btnTru" value="trừ">
  <input type="submit" name="btnNhan" value="nhân">
  <input type="submit" name="btnChia" value="chia">
</form> 


</body>
</html>
